<nav th:fragment="navbar" 
    class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav"
    style="position: relative; z-index: 9999;"
>
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/" th:href="@{/}" style="width: 87.125px;">Início</a></li>
                <li class="nav-item"><a class="nav-link active" href="/produtos" th:href="@{/produtos}" >Produtos</a></li>
                <li class="nav-item" ><a class="nav-link active" href="/horarios" th:href="@{/horarios}">Horários</a></li>
                <li class="nav-item"><a class="nav-link" href="/comentarios" th:href="@{/comentarios}">Comentários</a></li>
            </ul>
        </div>
    </div>
</nav>