<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{:: main})}">
<body>
<main>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="assets/img/px488170-image-kwvxpngj-kynnzssj.jpeg" style="height: 588.086px;margin: 1px;">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Buffet</span><span class="section-heading-lower" style="width: 484.195px;font-size: 46px;">Juliana e Genilson</span></h2>
                    <p class="mb-3"></p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary active d-inline-block mx-auto btn-xl" role="button" href="http://localhost:8080/">contate-nos hoje</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Nossa promessa</span><span class="section-heading-lower">Você merece</span></h2>
                        <p class="text-center mb-0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;O melhor cardápio e o melhor serviço!?&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nós somos especialistas em transformar eventos em experiências únicas e inesquecíveis com um buffet sob medida!&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>