<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{:: main})}">

<body>
<main>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="text-center cta-inner rounded">
            <h2 class="section-heading mb-5"><span class="section-heading-upper">entre em contato conosco</span><span class="section-heading-lower">Horários para contato</span></h2>
            <ul class="list-unstyled text-start mx-auto list-hours mb-5">
              <li class="d-flex list-unstyled-item list-hours-item">Segunda<span class="ms-auto">7:00 AM às 20:00 PM&nbsp;</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Terça<span class="ms-auto">7:00 AM às 20:00 PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Quarta<span class="ms-auto">7:00 AM&nbsp;<em>às</em>&nbsp;<em>20:</em>00 PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Quinta<span class="ms-auto">7:00 AM&nbsp;<em>às&nbsp;20:</em>00 PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Sexta<span class="ms-auto">7:00 AM&nbsp;<em>às&nbsp;20:</em>00 PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Sábado<span class="ms-auto">7:00 AM&nbsp;<em>às&nbsp;20:</em>00 PM</span></li>
            </ul>
            <p class="address mb-5"><em><strong></strong><span></span></em></p>
            <p class="address mb-0"><small><em>Contato:</em></small><span><br>(79) 999283310</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section about-heading">
    <div class="container">
      <div class="about-heading-content"></div>
    </div>
  </section>
</main>
</body>
</html>