<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{:: main})}">

<body>
<main><section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="d-flex product-item-title">
                <div class="d-flex me-auto bg-faded p-5 rounded">
                    <h2 class="section-heading mb-0"><span class="section-heading-upper"><strong>MISTURADO NA PERFEIÇÃO</strong></span><span class="section-heading-lower">buffet classe A</span></h2>
                </div>
            </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="assets/img/buffet-1.jpeg">
            <div class="bg-faded p-5 rounded">
                <p class="text-center mb-0">Temos orgulho no nosso trabalho, e isso nota-se. Garantimos que será uma experiência que vale a pena. </p>
            </div>
        </div>
    </div>
</section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex ms-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="section-heading-upper">Sua festa vegana, longe de crueldade animal</span><span class="section-heading-lower">Cardápio Vegano</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="assets/img/dicas-para-oferecer-um-cardapio-vegetariano-no-seu-restaurante.jpeg">
                <div class="bg-faded p-5 rounded">
                    <p class="text-center mb-0">Todo o sabor do nosso cardápio vegano diretamente para o seus evento!&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex mx-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="text-sm-center section-heading-upper">PAra os fans de churrasco</span><span class="section-heading-lower">churrasco a domicílio</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="assets/img/churrasco.jpeg">
                <div class="bg-faded p-5 rounded">
                    <p class="text-center mb-0">A vida está difícil, mas o churrasco está uma delícia!</p>
                </div>
            </div>
        </div>
    </section></main>

</body>
</html>